{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "strongloop",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "project": ["./tsconfig.json", "packages/*/tsconfig.json", "services/*/tsconfig.json"]
  },
  "rules": {
    "require-await": "off",
    "@typescript-eslint/require-await": "off",
    "no-unused-vars": [2, {"args": "after-used", "argsIgnorePattern": "^_"}],
    "object-curly-spacing": ["error", "always"]
  }
}